services:
  techdraw:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    command: serve -s build -l 5000
    environment:
      - NODE_ENV=development